*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --primary-color: #ffffff;
    --secondary-color: #0f0f0f;
    --third-color:rgb(203, 201, 201);
    --navbar-color:#ffffff;
}
.dark-theme{
    --primary-color:#0f0f0f;
    --secondary-color: #fff;
    --third-color:  #262626;
    --navbar-color:#4b4b4b; 
}
body {
    background: var(--primary-color);
    color:#fff;  
}
span{
    color: orange;
}
section {
    border-top: 1.5px solid #bbb;
  }
#portfoliologo{
     width: 12%;
     margin-left: 36%;
}
#logo-smallscreen{
    display: none;
}
/*nav-bar------------------------------------------*/
#navbar{
    position:fixed;
    width: 100%;
    height: 47px;
    background-color:var(--navbar-color);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);  
}
#navbar #sidemenu li{
    display:inline-block;
    list-style:none;
    margin: 10px 15px;
}
nav ul li a{ 
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 18px;
    position:relative;
    font-variant: small-caps;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height:3px;
    background: orange;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 70%;
}
#sun-moon{
    cursor: pointer;
    max-width: 20px;
    margin-left: 25px;
}
/* background image-------------------------------------*/
#bgPhoto{
    width: 28%;
    height: 61%;
    position:absolute;
    bottom: 220px;
    right: 79px;
}
#bgPhoto img{
    height: 80%;
    position:absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s left 1s;
}
#bgPhoto #bg{
    height: 85%;
    left: 0px;
    transform: rotate(-83deg);   
}
#bgPhoto:hover #bg{
    bottom: 20px;
    transition: 1s;
}
#bgPhoto #mypic{
    height: 75%;
    bottom: -29px;
}
#bgPhoto:hover #mypic{
    left:45%;
    transition: 1s;
}
/* background image end-------------------------------------*/
/*home start------------------------------*/
.header-text{
    margin: 0% 45% 8% 6%;
    padding: 10% 0% 0% 0%;
    font-size: 30px;
    color: var(--secondary-color);
}
.header-text p{
    margin-left: 10px;
}
.header-text h1{
    font-size: 44px;
    margin: 5px;
    padding: 20px;
    background-color:var(--third-color);
    border-radius: 10px;
    font-family:'Times New Roman', Times, serif;
}
.hire-btn {
    width: 100%;
    margin-left:100%;
}
.header-text h1 span{
    font-family:'Times New Roman', Times, serif;
}
#H-socialmedia-icons{
    margin-left: 300px
}
#github{
    color: var(--secondary-color);
}
/* home end-----------------------------*/
/*--------about start------------------------*/
#About{
    margin: 0% 0%;
    padding: 50px 0px 5px;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    margin: 60px 0px 110px 20px;
    flex-basis: 35%;
}
.about-col-1 img{
    width:100%;
}
.about-col-2{
    flex-basis: 60%;
    color: var(--secondary-color);
    font-size: 20px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: var(--secondary-color);
}
.tab-titles{
    display: flex;
    margin:20px 0;
}
.tab-links{
    margin-right: 30px;
    color:var(--secondary-color);
    font-size: 25px;
    cursor: pointer;
}
.tab-links:hover{
    font-weight: 700;
    transform:translateY(-5px);
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 19px;
}
.tab-contents ul li span{
    color:orange;
    font-weight: 600;
    font-size:17px;
    font-family: 'Times New Roman', Times, serif;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display: block;
}
/*-----------------portfolio----------*/
#Portfolio{
    margin: 0% 5% 5% 5%;
    padding: 5% 1% 1% 1%;
    color:  var(--secondary-color);
}
#Portfolio h1{
    margin-bottom: 25px;
    font-size: 60px;
    font-weight: 600;
    color: var(--secondary-color);
}
#Portfolio p{
    font-size: 20px;
    font-weight: 600;  
}
.portfolio-list{
    margin-top: 20px;
    color: var(--secondary-color); 
}
.portfolio-list ul{
    list-style-type: none;   
}
.portfolio-list ul li{
    margin: 5px;
    padding: 5px;
}
.portfolio-list ul li a:hover{
    font-weight: 900;
    font-style: italic;
    transform: translateY(-10px);
}
.portfolio-list ul li a{
    text-decoration: none;
}
#profilelink{
    margin-left: 3%;
	color: var(--links-color);
	font-size: 30px;
}
#pro{
	width: 3.5%;
	height: 5%;
}
/*---------------------services-------------------------*/
#services{
    margin: 0% 5% 10% 5%;
    padding: 5% 1% 1% 1%; 
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.services-list div{
    background: var(--third-color);
    padding: 40px;
    font-size:18px;
    font-weight: 500;
    border-radius: 10px;
    transition:  0.5s,transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
    color: red;
}
.services-list div p{
    color:var(--secondary-color);
}
.services-list div a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: orange;
}
/*-------------------contact-------------------*/
#Contact{
    margin: 3% 0% 3% 0%;
    padding: 5%;
}
.contact-left{
    flex-basis: 40%;  
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    color: var(--secondary-color);
}
.contact-left p i{
    color:rgb(255, 165, 0);
    margin-right: 15px;
    font-size: 20px;
}
#location-icon{
    color: var(--secondary-color);
}
.social-icons a{
    margin-top: 20px;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    transition:transform 0.6s;
}
.social-icons a:hover{
    transform:translateY(-5px);
}
.cv-btn{
    margin: 40px 0px 0px 20px;   
}
.submit-btn .btn{
    text-decoration: none;
    color: var(--secondary-color);
}
.submit-btn{
    color: var(--secondary-color);
    background: #ff9301;
    font-size: 19px;
    letter-spacing: 1px;
    border: 1px solid #ff9301;
    padding:13px 25px;
    border-radius: 20px;
}
.submit-btn:hover{
    background: transparent;
    color:var(--secondary-color);
    border:1px solid var(--secondary-color);
}
form input,form textarea{
    width:100%;
    border: 0;
    background: var(--third-color);
    padding: 15px;
    margin: 10px 0; 
    border-radius: 6px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding:15px 0;
    background: #262626;
    margin-top: 5px;
    color: #fff;
}
/*----------------hireMe-form---------------*/
.HireMe-form{
    margin-top: 120px;
    margin: 20px 30px;
}
.hire{
    font-size: 40px;
    color: black;
    font-weight: 700;
    font-variant: small-caps;
}
/*-------------------------------css for small screen---------------------------*/
@media only screen and (max-width:1020px){
    #toggle{
        position: fixed;
        top: 10px;
        left: 10px;
        width: 40px;
        height: 40px;
        background: orange;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        border-radius: 8px;
    }
    #toggle::before{
        content: '';
        position: absolute;
        width: 28px;
        height: 3px;
        right: 8px;
        background: var(--primary-color);
        transform: translateY(-5px);
        transition: 0.2s;
    }
    #toggle::after{
        content: '';
        position: absolute;
        width: 28px;
        height: 3px;
        right: 8px;
        background: var(--primary-color);
        transform: translateY(5px);
        transition: 0.2s;
    }
    #toggle.active::before{
        transform: translateX(0px) rotate(45deg);
    }
    #toggle.active::after{
        transform: translateX(0px) rotate(-45deg);
    }
    #toggle.active{
        background:orange;
    }
    #navbar{
        width: 0px;
        right: 0;
        height: 100vh;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        transition: 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }
    #navbar.active{
        width: 223px;
        height: 100vh;
    }
    #navbar ul{
        display:flex;
        flex-direction: column; 
        margin-left: 10px;  
        margin-top: 20px;
    }
    #navbar ul li a{
        display: inline-block;
        text-decoration: none;
        font-size: 1.5em;
        margin: 15px 4px;
        letter-spacing: 1px;
    }  
    #home{
        background-image: url('images/BACKIMGPHN.png');
        background-size: 85%;
        background-repeat: no-repeat;
        background-position:bottom right;
        display: inline-block;
    }
    .header-text{
        margin: 20% 6% 105% 6%;
        padding: 5% 0%;
        font-size: 25px;
    }
    .header-text h1{
        font-size: 20px;
    }
    .hire-btn {
        margin-left:35%;
        margin-top: 5%;
     }
     #H-socialmedia-icons{
        margin-left: 10px
    }
    #bgPhoto{
        display: none;
    }
    .sub-title{
        font-size: 35px;  
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
        margin: 15px 30px 10px 30px;
        font-size: 15px;
    }
    .about-col-1{
        margin-top: -40px;
        margin-bottom: -15px;
    }
    #Portfolio{
        margin: 10% 5% 10% 5%;
        padding: 20% 5%;
    }
    #Portfolio h1{
        font-size: 30px;
    }
    #Portfolio p{
        font-size: 20px;
        font-weight: 400;
    }
    #pro{
        width: 11%;
        height: 5%;
    }
    #services{
        margin-top: 10px;
        padding-top: 50px;
    }
    .row{
        padding-top: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
        margin: 10px;
    }
    #portfoliologo{
        display: none;
    }
    #logo-smallscreen{
        display: flex;
        width: 46%;
        margin-left: 51%;
        margin-top: 5%;
    }
}
